# -*-conf-*-

.emacs.desktop*
backups
bookmarks
auto-save-list
tramp
places
elpa/archives/
elpa/archive-contents/
elpa/builtin-packages/
svn-repos/
CVS
cores
trunk/
freshtags.el/
url/
eshell/
quicklisp/tmp
quicklisp/cache
tmp/
cider-history
ido.last
recentf
