[submodule "vendor/cucumber.el"]
	path = vendor/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/emacs-xcode"]
	path = vendor/emacs-xcode
	url = git@github.com:cheapRoc/emacs-xcode.git
[submodule "vendor/rainbow-mode"]
	path = vendor/rainbow-mode
	url = git://git.naquadah.org/~jd/jd-el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = http://github.com/emacsmirror/yasnippet.git
