[submodule "vendor/textmate.el"]
    path = vendor/textmate.el
    url = git://github.com/defunkt/textmate.el
[submodule "vendor/coffee-mode"]
    path = vendor/coffee-mode
    url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/jade-mode"]
    path = vendor/jade-mode
    url = https://github.com/brianc/jade-mode.git
